# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master
stages:
- stage: 'Build'
  jobs:
  - job: 'BuildCode'
    pool:
     name: Azure Pipelines
    steps:
    - task: JFrogMaven@1
      inputs:
        mavenPomFile: 'pom.xml'
        goals: 'install'
        options: '-Dv=$(Build.BuildId)'
        artifactoryDeployService: 'Artifactory'
        targetDeployReleaseRepo: 'demo-class-libs-release'
        targetDeploySnapshotRepo: 'demo-class-libs-release'
        javaHomeOption: 'JDKVersion'
- stage: 'Deploy'
  jobs:
  - job: 'DeployBinary'
    pool:
     name: TestAgents
    steps:
    - task: CmdLine@2
      inputs:
        script: 'ansible-playbook --connection=local  deploy.yml --extra-vars "version=1.38"'
  


